<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Kobin</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 style="color: #eeeeee">Kobin: lightweight web application framework.</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <p>Hello {{ name }}! with Jinja2 template.</p>
        </div>
    </main>
    <footer>
        <p style="text-align: center;">Powered by Kobin.</p>
    </footer>
</body>
</html>