{% extends "base" %}

{% block title %}Hello!{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block header %}
<div class="container">
    <h1 style="color: #eeeeee">Kobin is a small and statically-typed web framework.</h1>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <p>Hello {{ name }}! with Jinja2 template.</p>
</div>
{% endblock %}

{% block footer %}
<p style="text-align: center;">Powered by Kobin.</p>
{% endblock %}
