alabaster==0.7.12
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
certifi==2019.3.9
chardet==3.0.4
click==7.0
coverage==4.5.3
coveralls==1.7.0
decorator==4.4.0
docopt==0.6.2
docutils==0.14
flake8==3.7.7
freezegun==0.3.11
idna==2.8
imagesize==1.1.0
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
kobin==0.1.10
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
mypy==0.701
mypy-extensions==0.4.1
packaging==19.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pyparsing==2.4.0
pytest==4.4.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
requests-toolbelt==0.9.1
simplegeneric==0.8.1
six==1.12.0
snowballstemmer==1.2.1
solar-theme==1.3.3
Sphinx==2.0.1
sphinx-intl==0.9.11
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.9.0
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
typed-ast==1.3.4
urllib3==1.25
virtualenv==16.4.3
wcwidth==0.1.7
wsgi-lineprof==0.7.0
wsgi-static-middleware==0.1.2
wsgicli==0.4.0
